.div-1 {
    border-right: 3px solid red;
    padding: 0%;
    width: 50%;
    display: block;
    background-color: aquamarine;
}

.div-1:hover {
    border-right: 5px dotted red;
}

.sec-1 {
    display: flex;
    margin: 0px;
}

.div-1 h3 {
    color: #081a30;
    text-align: center;
    background-color: #b3a2a2;
    margin: 0%;
    font-weight: bold;
    font-size: 20px;
}

.div-2 {
    border-left: 3px solid red;
    padding: 0%;
    width: 50%;
    display: block;
    background-color: aquamarine;
}

.div-2:hover {
    border-left: 5px dotted red;
}

.div-2 img {
    height: 300px;
    width: 369px;
    margin-bottom: 0%;
}

.div-2 h3 {
    color: #081a30;
    text-align: center;
    background-color: #b3a2a2;
    margin: 0%;
    font-weight: bold;
    font-size: 20px;
}

.sec-2 td,
th {
    border: 3px solid #acaccb;
    padding: 4px;
    text-align: center;
    background-color: #717a7a;
    color: #ffffff;
}

.sec-2 table {
    border-collapse: collapse;
    width: 50%;
}